<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>100-vue实战</title>
    <script src="./lib/vue-v2.5.17.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css">
    <style>
        .font-bold {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="demo">

        <table class="table table-bordered table-hover">
            <thead>
                <tr class="heead1">
                    <th rowspan="4" class="td-no">No</th>
                    <th class="td-category">Program</th>
                </tr>
                <tr class="heead1">
                    <th class="td-category">Program status</th>
                </tr>
                <tr class="heead1">
                    <th class="td-category">Part ID</th>
                </tr>
                <tr class="heead1">
                    <th class="td-category">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(value,key,index) in list" :id="index">
                    <td :style="boldValue==value?boldStyle:''" class="td-no"> {{ index+1 }} </td>
                    <td :style="boldValue==value?boldStyle:''" class="td-category">
                        <span v-if="IsLink(key)"><a :data-key="key" @click="ViewTypeDetail(this)">{{ value
                                =='WhiteLine'?'':value }}</a></span>
                        <span v-else> {{ value =='WhiteLine'?'':value }}</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <script>
        //M的定义
        var obj = {
            boldValue: 'Grand total cost',
            boldStyle: 'font-weight:bold',
            list: {
                "26": "Stamping", "27": "Tube", "28": "Wire", "29": "Spring", "30": "Fastener", "31": "Welding", "32": "Assy", "33": "Slide", "34": "Recliner", "35": "Transmission", "36": "Latch", "37": "Motor", "38": "Mechanism-Others", "39": "Suspension", "40": "Plastics", "41": "Cable", "42": "Harness", "43": "Surface Treatment", "44": "Misc", "45": "Direct Buy", "133": "Fine Blanking", "134": "Rod", "135": "Shaft", "136": "Carpet", "137": "Heat Treatment", "138": "Machining", "139": "Powder Metallurgy", "140": "Roll Forming", "NewLine1": "WhiteLine", "MaterialCost": "Scrap cost for Material", "SupplierCost": "Amort. Cost for supplier", "FixtureCost": "Amort. Cost for fixture", "PD2Cost": "Amort. Cost for PD2", "LaunchCost": "Launch cost", "QuickSaving": "Quick saving", "Sg_A": "SG&A", "GrandTotalCost": "Grand total cost",
                "NewLine2": "WhiteLine", "Logistic": "Logistic", "SellPrice": "Sell price"
            }
        }
        //VM 响应系统       
        var vm = new Vue({
            el: '#demo',
            data: obj,
            // 在 `methods` 对象中定义方法
            methods: {
                IsLink(key) {
                    var reg = new RegExp("^[0-9]+$");
                    return reg.test(key)
                },
                //查看类型详情
                ViewTypeDetail(obj) {
                    //选中的类型
                    var typeID = $(obj).attr("data-key");
                    dlg.setSize(1000, 600);
                    dlg.setURL("方案对比类别详情", "VSProjectResultDetail.aspx?C=" + $("#txtCSS").val() + "&ItemIDs=" + $("#txtEndItemList").val() + "&PartFamily_Row=" + typeID);
                    dlg.show();
                }
            }

        })       
    </script>
</body>

</html>