<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for循环对象数组</title>
    <script src="./lib/vue.js"></script>
</head>
<div id="app">
    <p v-for="user in list">id:{{ user.id }}----名字{{ user.name }}</p>
    <!-- 使用索引 -->
    <p v-for="(user,index) in list">id:{{ user.id }}----名字{{ user.name }}----索引{{ index }}</p>
</div>

<body>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                list: [
                    { id: 1, name: 'zs1' },
                    { id: 1, name: 'zs1' },
                    { id: 1, name: 'zs1' }
                ]//把这个数组渲染到页面上
            }
        });

        //js中的forEach(item,index)也是这么用的，元素值在前面，索引值在后面
    </script>
</body>

</html>