<!--<?xml version="1.0" encoding="utf-8"?>-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--单级配置节点 定义测试-->
    <section name="CustomerSingleConfig" type="HomeTest.模块化配置.单节点配置.CustomerSingleConfig,HomeTest"/>
    <!--多级配置节点 定义测试-->
    <section name="CustomerMultiConfig" type="HomeTest.模块化配置.多节点配置.CustomerMultiConfig,HomeTest"/>
    <!--自定义新增节点测试-->
    <section name="TestConfigInfo" type="HomeTest.模块化配置.自定义新增节点配置.TestConfigInfo,HomeTest"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--【重点】连接字符串必须配置在 startup 标签之后-->
  <connectionStrings>
    <add name="SQLiteStr" connectionString="Data Source=E:\SQLite\FirstDb.db;Version=3"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <!--单级配置节点 配置测试-->
  <!--<CustomerSingleConfig PlatChName="监控平台系统" PlatEnName="Monitoring platform system"></CustomerSingleConfig>-->
  <CustomerSingleConfig configSource="模块化配置\CfgFiles\CustomerSingleConfig.config"></CustomerSingleConfig>
  <!--多级配置节点 定义测试-->
  <CustomerMultiConfig>
    <CustomerElement connectionString="Data Source='.';Initial Catalog='UniDataNH';User ID='sa';Password='123456'" enabled="true"></CustomerElement>
  </CustomerMultiConfig>
  <!--自定义新增节点 配置测试-->
  <TestConfigInfo TestName="lxsh" TestID="8893">
    <trackers TrackerName="testName">
      <add Host="60.195.251.71" Port="22122" />
      <add Host="60.195.251.72" Port="22123" />
      <add Host="60.195.251.73" Port="22124" />
    </trackers>
  </TestConfigInfo>
  <!--系统appSettings配置，单独建立配置文件来配置信息。-->
  <appSettings configSource="模块化配置\CfgFiles\AppSettings.config" />
</configuration>